<h1><%= @player.name %></h1>

<div><span class="label">Team:</span> <%= @player.team %></div> 
<div><span class="label">Position:</span> <%= @player.position %></div> 
<div><span class="label">Attempts:</span> <%= @player.attempts %></div>
<div><span class="label">Attempts Per Game Average:</span> <%= @player.attempts_per_game %></div>
<div><span class="label">Total Yards:</span> <%= @player.yards %></div>
<div><span class="label">Average Yards Per Attempt:</span> <%= @player.yards_per_attempt %></div>
<div><span class="label">Yards Per Game:</span> <%= @player.yards_per_game %></div>
<div><span class="label">Total Touchdowns:</span> <%= @player.touchdowns %></div>
<div><span class="label">Longest Rush:</span> <%= @player.longest_rush %></div>
<div><span class="label">First Downs:</span> <%= @player.first_downs %></div>
<div><span class="label">First Down Percentage:</span> <%= @player.first_down_percentage %></div>
<div><span class="label">20+ Yards Each:</span> <%= @player.twenty_yards %></div>
<div><span class="label">40+ Yards Each:</span> <%= @player.forty_yards %></div>
<div><span class="label">Fumbles:</span> <%= @player.fumbles %></div>